@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}

p {
  font-family: "Inter", sans-serif !important;
}

nav {
  background: #000;
}
nav a {
  color: #fff !important;
  font-family: "Inter", sans-serif !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 200 !important;
  overflow: hidden;
}
@media (max-width: 991px) {
  nav a {
    font-size: 14px !important;
  }
}
nav .nav-logo {
  width: 300px;
}
@media (max-width: 991px) {
  nav .nav-logo {
    width: 250px;
  }
}
nav .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../Images/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.banner {
  background: linear-gradient(93deg, #122B6F -8.3%, #E64676 55.97%, #FCDE26 127.1%);
  padding: 100px 0px;
}
.banner h2 {
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
}
@media (max-width: 991px) {
  .banner h2 {
    font-size: 32px;
  }
}
.banner p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
}
@media (max-width: 991px) {
  .banner p {
    font-size: 14px;
  }
}
.banner button {
  background-color: #000;
  padding: 10px 20px;
  border: none;
}
.banner button a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.about {
  padding: 50px 0px;
}
.about h6 {
  color: #FF722B;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about h2 {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
}
@media (max-width: 991px) {
  .about h2 {
    font-size: 38px;
  }
}
.about p {
  color: #000 !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
}
@media (max-width: 991px) {
  .about p {
    font-size: 14px;
  }
}
.about button {
  background-color: #FF722B;
  color: #fff;
  padding: 5px 20px;
  border: none;
}
.about button a {
  color: #fff;
  font-family: "Inter", sans-serif !important;
  text-decoration: none;
}

.why-attend {
  padding: 50px 0px;
  background: #F7F0E4;
}
.why-attend h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
}
.why-attend h2 {
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  color: #000;
}
@media (max-width: 991px) {
  .why-attend h2 {
    font-size: 32px;
  }
}
.why-attend .col-box {
  border-radius: 12px;
  background: #FFF;
  padding: 40px;
  display: flex;
  row-gap: 32px;
  height: 100%;
  flex-direction: column;
  color: #15151B;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 2px;
}
.why-attend p {
  color: #15151B;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 2px;
}

.logo {
  padding: 50px 0px;
}
.logo .slider {
  background: #fff;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.logo .slide-track {
  display: flex;
  align-items: center;
  width: 2000px;
  /* (image width * total slides) */
  animation: scroll 20s linear infinite;
}
.logo .slide {
  width: 200px;
  /* image width */
  flex-shrink: 0;
}
.logo .slide img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.agenda {
  padding: 50px 0px;
  background-color: #F7F0E4;
}
.agenda h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #FF722B;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.agenda h2 {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  color: #000;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .agenda h2 {
    font-size: 32px;
  }
}
.agenda p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2.1px;
  padding: 10px;
  border: 1px solid #000;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}
.agenda .col-box {
  border-radius: 12px;
  border: 2px solid rgba(237, 148, 127, 0.2);
  background: #32462F;
  width: 100%;
  color: #1a1725;
  align-items: flex-start;
  padding: 30px;
}
@media (max-width: 991px) {
  .agenda .col-box {
    padding: 5px;
  }
}
.agenda .col-box .accordionn {
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.agenda .col-box .accordion-itemm {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.agenda .col-box .accordion-headerr {
  width: 100%;
  text-align: left;
  padding: 15px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  background: rgba(255, 114, 43, 0.16);
  font-weight: bold;
  color: #fff;
  transition: background 0.3s ease;
}
.agenda .col-box .accordion-contentt {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
}
.agenda .col-box .accordion-contentt p {
  margin: 10px 0;
  font-size: 14px;
  color: #fff;
  border: none;
}
.agenda .col-box .icon {
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.agenda .col-box .accordion-item.active .icon {
  transform: rotate(45deg);
  /* turns + into × */
  color: #007bff;
}
.agenda .col-box .content-box button {
  border-radius: 5px;
  background: #FF6534;
  color: #000;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 8px 13px;
  display: flex;
}
.agenda .col-box .content-box p {
  border: none;
  color: #fff;
}
.agenda .col-box .accordion-itemm.active .accordion-contentt {
  max-height: 200px;
  /* Adjust depending on content */
  padding-bottom: 15px;
}
@media (max-width: 600px) {
  .agenda .col-box .accordionn {
    max-width: 95%;
  }
}

.our-mentors {
  padding: 80px 0;
  background-color: #1B161A;
}
.our-mentors h2 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}
@media (max-width: 991px) {
  .our-mentors h2 {
    font-size: 38px;
  }
}
.our-mentors .col-box {
  border-radius: 20px;
  background: #FFF;
  padding: 4px;
  margin: 12px;
  text-align: center;
  height: 100%;
}
.our-mentors .col-box img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-mentors .col-box h6 {
  color: #15151B;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 15px;
}
.our-mentors .col-box p {
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: none;
}

.faq {
  padding: 50px 0px;
  background-color: #F7F0E4;
}
.faq h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: capitalize;
  color: #000;
}
@media (max-width: 991px) {
  .faq h2 {
    font-size: 38px;
  }
}
.faq .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #32462F !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.faq .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: #32462F;
  color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
.faq .accordion-item {
  color: var(--bs-accordion-color);
  background-color: #F7F0E4;
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.faq p {
  color: rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: none;
}
.faq .accordion-button:not(.collapsed)::after {
  background-image: url(../Images/minus.png);
  transform: var(--bs-accordion-btn-icon-transform);
}
.faq .accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url(../Images/plus.png);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.faq .form-box {
  border-radius: 12px;
  background: #FFF;
  padding: 40px;
  color: #15151B;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 2px;
}
.faq .form-box input {
  padding: 5px;
  width: 100%;
}
.faq .form-box textarea {
  padding: 5px;
  width: 100%;
}
.faq .form-box label {
  display: flex;
}
.faq .form-box button {
  background-color: #000;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif !important;
}

.foot p {
  margin-bottom: 0px;
  padding: 10px 0px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: none;
}/*# sourceMappingURL=style.css.map */