* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif !important;
}

p {
    font-family: "Inter", sans-serif !important;
}

nav {
    background: #000;

    a {
        color: #fff !important;
        font-family: "Inter", sans-serif !important;
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 200 !important;
        overflow: hidden;

        @media (max-width:991px) {
            font-size: 14px !important;
        }
    }

    .nav-logo {
        width: 300px;

        @media (max-width:991px) {
            width: 250px;
        }
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: url(../Images/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
}

.banner {
    background: linear-gradient(93deg, #122B6F -8.3%, #E64676 55.97%, #FCDE26 127.1%);
    padding: 100px 0px;

    h2 {
        color: #fff;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;

        @media (max-width:991px) {
            font-size: 32px;
        }
    }

    p {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        overflow: hidden;

        @media (max-width:991px) {
            font-size: 14px;
        }
    }

    button {
        background-color: #000;
        padding: 10px 20px;
        border: none;

        a {
            color: #fff;
            font-size: 16px;
            text-decoration: none;
        }
    }
}

.about {
    padding: 50px 0px;

    h6 {
        color: #FF722B;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    h2 {
        color: #000;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;

        @media (max-width:991px) {
            font-size: 38px;
        }
    }

    p {
        color: #000 !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        overflow: hidden;

        @media (max-width:991px) {
            font-size: 14px;
        }
    }

    button {
        background-color: #FF722B;
        color: #fff;
        padding: 5px 20px;
        border: none;

        a {
            color: #fff;
            font-family: "Inter", sans-serif !important;
            text-decoration: none;
        }
    }
}

.why-attend {
    padding: 50px 0px;
    background: #F7F0E4;

    h6 {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
    }

    h2 {
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        color: #000;

        @media (max-width:991px) {
            font-size: 32px;
        }
    }

    .col-box {
        border-radius: 12px;
        background: #FFF;
        padding: 40px;
        display: flex;
        row-gap: 32px;
        height: 100%;
        flex-direction: column;
        color: #15151B;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 2px;
    }

    p {
        color: #15151B;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 2px;
    }
}

.logo {
    padding: 50px 0px;

    .slider {
        background: #fff;
        margin: auto;
        overflow: hidden;
        position: relative;
    }

    .slide-track {
        display: flex;
        align-items: center;
        width: calc(200px * 10);
        /* (image width * total slides) */
        animation: scroll 20s linear infinite;
    }

    .slide {
        width: 200px;
        /* image width */
        flex-shrink: 0;
    }

    .slide img {
        width: 100px;
        object-fit: cover;
        border-radius: 8px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}

.agenda {
    padding: 50px 0px;
    background-color: #F7F0E4;

    h6 {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        color: #FF722B;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    h2 {
        text-align: center;
        justify-content: center;
        display: flex;
        font-size: 60px;
        font-weight: 500;
        line-height: 1;
        color: #000;
        margin-bottom: 20px;

        @media (max-width:991px) {
            font-size: 32px;
        }
    }

    p {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 2.1px;
        padding: 10px;
        border: 1px solid #000;
        width: fit-content;
        text-transform: uppercase;
    }

    .col-box {
        border-radius: 12px;
        border: 2px solid rgba(237, 148, 127, 0.20);
        background: #32462F;
        width: 100%;
        color: #1a1725;
        align-items: flex-start;
        padding: 30px;

        @media (max-width:991px) {
            padding: 5px;
        }

        .accordionn {

            margin: 20px auto;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            font-family: Arial, sans-serif;
        }

        .accordion-itemm {
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }

        .accordion-headerr {
            width: 100%;
            text-align: left;
            padding: 15px;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            background: rgba(255, 114, 43, 0.16);
            font-weight: bold;
            color: #fff;
            transition: background 0.3s ease;
        }


        .accordion-contentt {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
            padding: 0 15px;
        }

        .accordion-contentt p {
            margin: 10px 0;
            font-size: 14px;
            color: #fff;
            border: none;
        }

        .icon {
            font-size: 20px;
            transition: transform 0.3s ease, color 0.3s ease;
        }

        .accordion-item.active .icon {
            transform: rotate(45deg);
            /* turns + into × */
            color: #007bff;
        }

        .content-box {
            button {
                border-radius: 5px;
                background: #FF6534;
                color: #000;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                padding: 8px 13px;
                display: flex;
            }

            p {
                border: none;
                color: #fff;
            }
        }

        .accordion-itemm.active .accordion-contentt {
            max-height: 200px;
            /* Adjust depending on content */
            padding-bottom: 15px;
        }

        @media (max-width: 600px) {
            .accordionn {
                max-width: 95%;
            }
        }

    }
}

.our-mentors {
    padding: 80px 0;
    background-color: #1B161A;

    h2 {
        font-size: 60px;
        line-height: 1.2;
        font-weight: 500;
        text-transform: capitalize;
        color: #fff;

        @media (max-width:991px) {
            font-size: 38px;
        }
    }

    .col-box {
        border-radius: 20px;
        background: #FFF;
        padding: 4px;
        margin: 12px;
        text-align: center;
        height: 100%;

        img {
            height: 300px;
            object-fit: cover;
        }

        h6 {
            color: #15151B;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            margin-top: 15px;
        }

        p {
            color: rgba(0, 0, 0, 0.25);
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 1.2px;
            text-transform: none;
        }
    }

}

.faq {
    padding: 50px 0px;
    background-color: #F7F0E4;

    h2 {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 300;
        text-transform: capitalize;
        color: #000;

        @media (max-width:991px) {
            font-size: 38px;
        }
    }

    .accordion-button:not(.collapsed) {
        color: #fff;
        background-color: #32462F !important;
        box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
    }

    .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
        font-size: 1rem;
        color: var(--bs-accordion-btn-color);
        text-align: left;
        background-color: #32462F;
        color: #fff;
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: var(--bs-accordion-transition);
    }

    .accordion-item {
        color: var(--bs-accordion-color);
        background-color: #F7F0E4;
        border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
    }

    p {
        color: rgba(0, 0, 0, 0.25);
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: none;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url(../Images/minus.png);
        transform: var(--bs-accordion-btn-icon-transform);
    }

    .accordion-button::after {
        flex-shrink: 0;
        width: var(--bs-accordion-btn-icon-width);
        height: var(--bs-accordion-btn-icon-width);
        margin-left: auto;
        content: "";
        background-image: url(../Images/plus.png);
        background-repeat: no-repeat;
        background-size: var(--bs-accordion-btn-icon-width);
        transition: var(--bs-accordion-btn-icon-transition);
    }

    .form-box {
        border-radius: 12px;
        background: #FFF;
        padding: 40px;

        color: #15151B;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 2px;

        input {
            padding: 5px;
            width: 100%;
        }

        textarea {
            padding: 5px;
            width: 100%;
        }

        label {
            display: flex;
        }

        button {
            background-color: #000;
            padding: 10px 20px;
            border: none;
            color: #fff;
            font-family: "Inter", sans-serif !important;
        }
    }
}

footer{
    background-color: #F7F0E4;
}
.foot {
    a{
         margin-bottom: 0px;
        padding: 10px 0px;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: none;
        text-decoration: none;
        color: #000;
    }
    p {
        margin-bottom: 0px;
        padding: 10px 0px;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: none;
    }
}

.content{
    h4{
        font-weight: 700;
    }
    h6{
        font-weight: 600 !important;
    }
}